@import url(https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
body{
    margin: 0;
    height: 100vh;
    background-color: #222831;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
   
}
.container{
    position: relative;
    height: 500px;
    width: 450px;
    background-color: #EEEEEE;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 50px;
    box-shadow: 9px 9px 9px #00ADB5;   
}
input{
    margin-left: 40px;
    border-radius: 10px;
    border: 0;
    box-shadow: 5px 5px 9px  rgb(101, 100, 100);
    padding: 8px;
    font-size: 14px;
    padding-left: 20px;
    width: 250px;
}
#brand-logo{
    margin: auto;
    height: 100px;
    width: 100px;
    background: url(loginlogo.png);
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: center;
}
.brand-title{
    color: #2B2E4A;
    font-weight: bold;
}
.inputs,label,button{
    display: block;
    width: 100px;
    padding: 0;
    border: none;
    box-sizing: border-box;
    color: #000000;
}
label{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-family: Cabin;
}
.inputs{
    width: auto;
    text-align: left;
    margin-top: 30px;  
}
input::placeholder{
    color: #8CB9BD;
}
button{
    margin-top: 20px;
    background-color: #00ADB5;
    border-radius: 10px;
    height: 50px;
    color: whitesmoke;
    justify-content: center;
    margin-left: 120px;
}
.text{
    text-align: right;
}
