body{
    margin: 0;
    height: 100vh;
    background-color: rgb(219, 198, 239);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
   
}
.container{
    position: relative;
    height: 500px;
    width: 450px;
    background-color: rgb(188, 136, 179);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 100px;
    box-shadow: 14px 14px 20px rgb(175, 215, 215),-14px -14px -20px white;
    
}

.textBox{
    border-radius: 10px;
    border: 0;
    box-shadow: 9px 9px 9px  rgb(101, 100, 100);
    padding: 10px;
}
#brand-logo{
    margin: auto;
    height: 100px;
    width: 100px;
    background: url(profils-removebg-preview.png);
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: center;
}
